<!DOCTYPE html>
<html lang ="pt-br" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contato | The Coffeshop</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>

<body>
    <h1>The Coffeshop</h1> 
    <!--MENU-->
    <div class="menu">
      <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">Início</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/cardapio}">Cardápio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/loja}">Loja</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/sobre}">Sobre nós</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/contato}">Contato</a>
        </li>
      </ul>
    </div>

    <!--RODAPÉ-->
    <footer id="footer">
      <div class="row align-items-center linha">
        <!--COLUNA 1-->
        <div class="col-6">
          <div class="colunas">
            <div class="row justify-content-center">
              <div class="col">
                <h3 class="text">A The Coffeshop te convida a viver uma experiência com café</h3>
                <p class="text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus elit quis massa finibus lacinia. In ornare eros sed nibh venenatis, ornare pulvinar diam feugiat. 
                </p>
                <a class="btn btn-dark btn-sm botoes" th:href="@{/contato}" role="button">Contate-nos</a>
              </div>
            </div>
          </div>
        </div>
        <!--COLUNA 2-->
        <div class="col-6">
          <nav class="colunas">
            <ul class="">
                <li>
                  <a th:href="@{https://www.facebook.com}" target="_blank"><img th:src="@{imagens/redes/facebook.png}" alt="Nosso Facebook" class="text icones"></a>
                </li>
                <li>
                  <a th:href="@{https://www.youtube.com}" target="_blank"><img th:src="@{imagens/redes/youtube.png}" alt="Canal no YouTube" class="text icones"></a>
                </li>
                <li>
                  <a th:href="@{https://www.instagram.com}" target="_blank"><img th:src="@{imagens/redes/instagram.png}" alt="Perfil no Instagram" class="text icones"></a>
                </li>
                <li>
                  <a th:href="@{https://www.twitter.com}" target="_blank"><img th:src="@{imagens/redes/twitter.png}" alt="Perfil no Twitter" class="text icones"></a>
                </li>
            </ul>
          </nav>
        </div>
      </div>
      <!--MENU-->
      <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link text" th:href="@{/cardapio}">Cardápio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text" th:href="@{/loja}">Loja</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text" th:href="@{/sobre}">Sobre nós</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text" th:href="@{/contato}">Contato</a>
        </li>
      </ul>
      <!--DIREITOS AUTORAIS-->
      <div class="direitos">
        <p class="colunas text">
          Direitos Reservados. Feito por alunos da Fatec Rubens Lara
        </p>
      </div>
    </footer>

    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>